*, *::before, *::after {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Plus Jakarta Sans, sans-serif;
}

p, h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
  font-size: inherit;
  overflow-wrap: break-word;
}

html {
  scroll-behavior: smooth;
}

html, body {
  background: #FFF7F0;
  position: relative;
  min-width: 375px;
  height: 100%;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

.btn {
  width: 14.25rem;
  height: 3.5rem;
  font-size: 1rem;
  font-weight: 700;
  background: #030303;
  border-radius: 1.75rem;
  cursor: pointer;
  color: #FFF7F0;
  -webkit-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}

.btn-2 {
  background: #EB7565;
}

.btn-hover1:hover {
  background: #755CDE;
}

.btn-hover2:hover {
  background: #F6A560;
}

@media (min-width: 320px) and (max-width: 594.99px) {
  .btn {
    width: 11rem;
    height: 2.75rem;
    font-size: 0.875rem;
  }
}
.main {
  margin-top: 4.125rem;
}
.main__heading {
  margin-top: 4.125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main__heading h1 {
  font-size: 3.5rem;
  line-height: 4.438rem;
  font-weight: 700;
  text-align: center;
}
.main__heading p {
  font-size: 1.125rem;
  max-width: 36.5rem;
  line-height: 1.75rem;
  padding-top: 1.5rem;
  color: #7A746E;
  text-align: center;
}
.main__content {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr;
  gap: 1.506rem;
  position: relative;
  margin-top: 5rem;
}
.main__content p {
  font-size: 1.5rem;
  color: white;
}
.main__content .child {
  display: grid;
  padding: 1rem;
  border-radius: 0.5rem;
}
.main__content .child img {
  place-self: start end;
}
.main__content .child p {
  place-self: end start;
}
.main__content .child1 {
  background: #755CDE;
  grid-column: 1/3;
  grid-row: 1/3;
  width: 100%;
  height: 22.75rem;
}
.main__content .child2 {
  background: #F6A560;
  grid-column: 3/4;
  grid-row: 1/2;
  width: 100%;
  height: 11.375rem;
}
.main__content .child3 {
  background: #F39E9E;
  grid-column: 4/5;
  grid-row: 1/3;
  width: 100%;
  height: 11.375rem;
}
.main__content .child4 {
  background: #61C4B7;
  grid-column: 5/7;
  grid-row: 1/3;
  width: 100%;
  height: 11.375rem;
}
.main__content .child5 {
  background: #EB7565;
  grid-column: 3/5;
  grid-row: 2/3;
  width: 100%;
  height: 9.875rem;
}
.main__content .child6 {
  background: #552049;
  grid-column: 5/7;
  grid-row: 2/3;
  width: 100%;
  height: 9.875rem;
}

@media (min-width: 595px) and (max-width: 1025px) {
  .main__heading {
    margin-top: 4rem;
  }
  .main__heading h1 {
    font-size: 2.75rem;
    line-height: 3.465rem;
  }
  .main__content {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 2fr;
    gap: 1.5rem;
    margin-top: 4rem;
  }
  .main__content .child4 {
    grid-column: 1/3;
    grid-row: 3;
  }
  .main__content .child6 {
    height: 11.375rem;
    grid-column: 3/5;
    grid-row: 3;
  }
}
@media (min-width: 320px) and (max-width: 594.99px) {
  .main {
    margin-top: 2rem;
  }
  .main__heading {
    margin-top: 2rem;
  }
  .main__heading h1 {
    font-size: 2.25rem;
    line-height: 2.835rem;
  }
  .main__heading p {
    font-size: 1rem;
    line-height: 1.625rem;
    padding-top: 1rem;
  }
  .main__content {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 6fr;
    margin-top: 2rem;
  }
  .main__content .child1 {
    grid-column: 1/3;
    grid-row: 1/3;
    height: 20rem;
  }
  .main__content .child2 {
    grid-column: 1/2;
    grid-row: 3;
  }
  .main__content .child3 {
    grid-column: 2/3;
    grid-row: 3;
  }
  .main__content .child4 {
    grid-column: 1/3;
    grid-row: 5;
  }
  .main__content .child5 {
    grid-column: 1/3;
    grid-row: 4;
  }
  .main__content .child6 {
    grid-column: 1/3;
    grid-row: 6;
  }
}
.work__section {
  margin-top: 5.5rem;
}
.work__section h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 2rem;
  line-height: 2.5rem;
  font-weight: 700;
  color: #030303;
  margin-bottom: 3.5rem;
}
.work__section .navigations {
  margin-top: 3.5rem !important;
  width: 9rem;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.work__section .navigations .next, .work__section .navigations .prev {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: #030303;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.work__section .navigations .next:hover, .work__section .navigations .prev:hover {
  background-color: #755CDE;
}

@media (min-width: 595px) and (max-width: 768px) {
  .work__section {
    margin-top: 7.5rem;
  }
  .work__section h3 {
    margin-bottom: 2rem;
  }
}
@media (min-width: 375px) and (max-width: 594.99px) {
  .work__section {
    margin-top: 6.25rem;
  }
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.consulting__section {
  margin-top: 8.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.consulting__section .consulting__container {
  width: 69.375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.consulting__section .consulting__container .image-wrapper {
  width: 100%;
  max-width: 27.813rem;
  position: relative;
  left: -7.75rem;
}
.consulting__section .consulting__container .image-wrapper img {
  width: 100%;
}
.consulting__section .consulting__container .consulting__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 33.75rem;
}
.consulting__section .consulting__container .consulting__content h2 {
  font-size: 2.5rem;
  line-height: 3.125rem;
  font-weight: 700;
  color: #030303;
}
.consulting__section .consulting__container .consulting__content p {
  font-size: 1.125rem;
  line-height: 1.75rem;
  color: #7A746E;
  padding: 1.5rem 0 1.5rem 0;
}

@media (min-width: 769px) and (max-width: 1014px) {
  .consulting__section .consulting__container .consulting__content {
    max-width: 20.75rem;
  }
}
@media (min-width: 595px) and (max-width: 768px) {
  .consulting__section .consulting__container {
    width: 69.375rem;
  }
  .consulting__section .consulting__container .image-wrapper {
    max-width: 27.813rem;
    left: -4rem;
  }
  .consulting__section .consulting__container .consulting__content {
    max-width: 21.188rem;
  }
  .consulting__section .consulting__container .consulting__content h2 {
    font-size: 2rem;
    line-height: 2.625rem;
    font-weight: 700;
  }
}
@media (min-width: 320px) and (max-width: 594.99px) {
  .consulting__section {
    margin-top: 6.25rem;
  }
  .consulting__section .consulting__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .consulting__section .consulting__container .image-wrapper {
    max-width: 18.75rem;
    left: 0;
  }
  .consulting__section .consulting__container .consulting__content {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    margin-top: 2.5rem;
  }
  .consulting__section .consulting__container .consulting__content h2 {
    font-size: 1.625rem;
    line-height: 2.047rem;
  }
  .consulting__section .consulting__container .consulting__content p {
    font-size: 1rem;
    line-height: 1.625rem;
  }
}
.discussing__section {
  border-radius: 0.625rem;
  background-color: #030303;
  margin: 0 auto;
  margin-top: 5.5rem;
}
.discussing__section .discuss__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5rem;
  color: white;
}
.discussing__section .discuss__wrapper .discuss__content {
  width: 37.5vw;
}
.discussing__section .discuss__wrapper .discuss__content h1 {
  font-size: 2.5rem;
  line-height: 3.15rem;
  font-weight: 700;
}
.discussing__section .discuss__wrapper .discuss__content p {
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 500;
  margin-top: 1.5rem;
}
.discussing__section .discuss__wrapper button {
  margin-left: 12.639vw;
}

@media (min-width: 769px) and (max-width: 1130px) {
  .discussing__section .discuss__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .discussing__section .discuss__wrapper button {
    margin-left: unset;
  }
  .discussing__section .discuss__wrapper .discuss__content {
    width: 49.313vw;
  }
  .discussing__section .discuss__wrapper .discuss__content p {
    margin-top: unset;
    padding: 1.5rem 0;
  }
}
@media (min-width: 595px) and (max-width: 768px) {
  .discussing__section {
    width: 89.844vw;
    margin-top: 7.5rem;
  }
  .discussing__section .discuss__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    padding: 3.75rem 4.688rem;
  }
  .discussing__section .discuss__wrapper button {
    margin-left: unset;
  }
  .discussing__section .discuss__wrapper .discuss__content {
    width: 70.313vw;
  }
  .discussing__section .discuss__wrapper .discuss__content p {
    margin-top: unset;
    padding: 1.5rem 0;
  }
}
@media (min-width: 320px) and (max-width: 594.99px) {
  .discussing__section {
    width: 91.467vw;
    margin-top: 6.25rem;
  }
  .discussing__section .discuss__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    padding: 3.063rem 1.5rem;
  }
  .discussing__section .discuss__wrapper button {
    margin-left: unset;
  }
  .discussing__section .discuss__wrapper .discuss__content {
    width: 78.667vw;
  }
  .discussing__section .discuss__wrapper .discuss__content h1 {
    font-size: 1.625rem;
    line-height: 2.063rem;
  }
  .discussing__section .discuss__wrapper .discuss__content p {
    font-size: 1rem;
    line-height: 1.625rem;
    margin-top: unset;
    padding: 1.5rem 0;
  }
}
.footer .navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 3.5rem;
  padding-bottom: 3.5rem;
}

@media (min-width: 320px) and (max-width: 594.99px) {
  .logo {
    width: 3rem;
    height: 3rem;
  }
}
.wrapper {
  margin: 0 auto;
  width: 77.083vw;
}

.header .navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 2.125rem;
}
.header .navigation .logo {
  width: 4rem;
  height: 4rem;
}

@media (min-width: 595px) and (max-width: 768px) {
  .wrapper {
    width: 89.844vw;
  }
}
@media (min-width: 320px) and (max-width: 594.99px) {
  .wrapper {
    width: 93.75vw;
  }
  .header .navigation {
    margin-top: 1rem;
  }
  .header .navigation .logo {
    width: 3rem;
    height: 3rem;
  }
}